<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% if @results %>
  <h2 class="content-subhead">Results for '<%= params[:query]%>'</h2>

  <ul>
    <% @results.each do |chapter_title, chapter_number, paragraph, paragraph_number| %>
      <li>
        <a href="/chapters/<%= chapter_number %>#para_<%= paragraph_number %>">
          <%= chapter_title %>
        </a>
        <p><%= emphasize paragraph, params[:query] %></p>
      </li>
    <% end %>
  </ul>
<% end %>
