<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= @title %></title>

    <link rel="stylesheet" href="/stylesheets/ddi.css">
  </head>

  <body>
    <div id="main">
      <div class="header">
        <h1 class="main-header"><%= @title %></h1>
      </div>

      <div class="content">
        <div class="list-of-names-wrapper">
          <ul class="list-of-names">
            <% @names.each do |name| %>
              <li class="name">
                <a href="/user?name=<%= name[0] %>" class="link-to-user-page"
                   id="user-<%= name[0] %>">
                  <%= name[0] %>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      </div><!-- .content -->
    </div><!-- #main -->
  </body>
</html>
